
<div class="page-create-villain">
  <div class="banner-villain pb-3">
    <h1>Create your villain</h1>
  </div>

  <div class="container">
    <div class="form-create card p-3 m-3">
      <%= simple_form_for(@villain) do |f| %>
        <%= f.input :name %>
        <%= f.input :description, as: :text %>
        <%= f.input :address %>
        <%= f.input :nastiness, collection: 1..5 %>
        <%= f.input :daily_price %>
        <%= f.input :photo, as: :file %>
        <%= f.input :poster, as: :file %>
        <div class="text-center"><%= f.button :submit, class: "btn button-pink-flash mt-1" %></div>
      <% end %>
    </div>
  </div>
</div>



