<div class="page-show-villain">
  <div class= "container py-5">
    <div class="row show-villain">
      <div class="col-lg-8">
        <h1><%= @villain.name %></h1>
        <p><%= @villain.description %></p>
        <table class="text-white">
          <tr>
            <th class="pr-3">Nastiness Level</th>
            <th class="pl-3">Price/day</th>
            <th class="pl-3">Address</th>
          </tr>
          <tr>
            <th class="text-center"><%= @villain.nastiness %> <i class="fas fa-skull-crossbones"></i></th>
            <th class="text-center"><%= @villain.daily_price %> €</th>
            <th class="text-center"><%= @villain.address %></th>
          </tr>
        </table>

        <div class="form-booking py-2">

          <%= simple_form_for [@villain, @booking], class: "form-group" do |f| %>
            <%= f.input :start_date, as: :string, type: :text, input_html: { id: "datepicker" } %>
            <%= f.input :end_date, as: :string, type: :text, input_html: { id: "datepicker" } %>
            <%= f.input :address, input_html: {value: params['booking_address'] }, placeholder: "Your booking location" %>
            <%= f.submit "Book", class: "btn btn-primary mt-3" %>
          <% end %>
        </div>

        <div id="map" class="mt-5"
             style="width: 500px; height: 300px;"
             data-markers="<%= @markers.to_json %>"
             data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>

        <div class="section-reviews pt-5">
          <h1>Reviews</h1>
        </div>
        <% if @reviews.present? %>
          <div class="section-reviews pt-5">
            <h1>Reviews</h1>
          </div>
            <% @reviews.each do |review| %>
            <div class= "list-reviews">
              <ul class="list-unstyled">
                <li>By Baptiste</li>
                <li><%= review.rating %></li>
                <li><%= review.comment %></li>
              </ul>
            </div>
            <% end %>
        <% end %>
      </div>
      <div class="col-lg-4">
        <%= cl_image_tag @villain.photo.key, height: 300, width: 300, crop: :fill %>
        <%#= image_tag "drax.png", alt: "alttext" %>
      </div>
    </div>
  </div>
</div>
