<div class="container banner-villain">
  <h1>Bookings</h1>
</div>

<div class="container py-4">
  <ul class="list-inline tabs-underlined">
    <li>
      <a href="#" class="tab-underlined active">Upcoming bookings</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">Previous bookings</a>
    </li>
  </ul>
</div>
<div class="container">
  <div class="cards-booking">
    <% @bookings.each do |booking| %>

        <%= link_to booking_path(booking) do %>
        <div class="card-booking">
        <div class="card-booking-image" style="background-image: url('https://cache.desktopnexus.com/thumbseg/2358/2358429-bigthumbnail.jpg')">
        </div>
          <div class="card-booking-infos">
            <div>
              <p><i class="fas fa-calendar-day"></i> From <%= booking.start_date %> to <%= booking.end_date %></p>
              <h2><%= booking.villain.name %></h2>
            </div>
            <h2 class="card-booking-place"><i class="fas fa-map-marker-alt"></i> <%= booking.city %></h2>
          </div>
        </div>
        <% end %>

    <% end %>

  </div>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">Content one</div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">Content 2</div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">Content 3</div>
</div>

</div>

