<div class="container">
  <h1>Your booking with <%= @booking.villain.name %> </h1>
  <p>Starts at : <%= @booking.start_date %></p>
  <p>Finishes at : <%= @booking.end_date %></p>
  <p>Address : <%= @booking.address %>, <%= @booking.post_code %> <%= @booking.city %></p>
</div>
