<div class="banner-villain banner-villain-booking" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.wallpapersden.com/image/download/darkseid-dc-villain_bGdram2UmZqaraWkpJRobWllrWdma2U.jpg')">
  <div class="container">
    <h1>Your booking with <%= @booking.villain.name %></h1>
  </div>
</div>

<div class="container py-4">
  <div class="row">
    <div class="col-8 p-0 d-flex flex-column justify-content-between">
      <div class="card h-100">
        <div class="card-header">
          <h3><%= cl_image_tag @booking.villain.photo.key, height: 60, width: 80, crop: :fill %> About <%= @booking.villain.name %></h3>
        </div>
        <!-- <i class="far fa-address-card"></i> -->
        <div class="card-body d-flex flex-column justify-content-between">
          <p><%= @booking.villain.description %></p>
          <div class="progress-items d-flex">
            <p>Nastiness</p>
            <div class="progress mx-2" style="width: 100px">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: <%= @booking.villain.nastiness * 20 %>%;" aria-valuenow="<%= @booking.villain.nastiness * 20%>" aria-valuemin="0" aria-valuemax="100"><%= @booking.villain.nastiness * 20%>%</div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h3><i class="fas fa-map-marker-alt"></i> Address</h3>
        </div>
        <div class="card-body">
          <p><%= @booking.address %>, <%= @booking.post_code %> <%= @booking.city %></p>
        </div>
      </div>
      <div class="d-flex">
        <div class="card w-50">
          <div class="card-header">
            <h3><i class="fas fa-calendar-day"></i> Dates</h3>
          </div>
          <div class="card-body">
            <ul class="list-unstyled">
              <li>Starts at : <%= @booking.start_date %></li>
              <li>Finishes at : <%= @booking.end_date %></li>
            </ul>
          </div>
        </div>
        <div class="card w-50">
          <div class="card-header">
            <h3><i class="fas fa-money-bill-wave"></i> Price</h3>
          </div>
          <div class="card-body">
            <p><%= @booking.total_price %> $</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 p-0">

      <div id="map" class ="h-100"
           style="width: 100%; height: 100%;"
           data-markers="<%= @markers.to_json %>"
           data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
    <div id="button-list" class="mt-3">
    <%= link_to "See all my booking", bookings_path, class: "btn btn-primary" %>
    </div>
</div>
