<div class="navbar navbar-expand-sm navbar-dark navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "death_star_logo.png" %>
    Adopt a Villain
  <% end %>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li>
          <%= link_to "Create your villain", new_villain_path, class: "btn button-create mr-3"  %>
        </li>
        <li class="nav-item dropdown">
          <% if user_signed_in? == false %>
            <% elsif current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, crop: :thumb, gravity: :face, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
             <%= image_tag "default_avatar.png", crop: :thumb, gravity: :face, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "My Bookings", bookings_path, class: "dropdown-item" %>
            <%= link_to "Log Out", destroy_user_session_path, method: "delete", class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li>
          <%= link_to "Sign up", new_user_registration_path, class: "btn button-signup mr-3" %>
        </li>
        <li>
          <%= link_to "Log in", new_user_session_path, class: "btn button-signin" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

