<!DOCTYPE html>
<html>
  <head>
    <title>Adopt a Villain</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="shortcut icon" href="<%= image_path "favicon.ico" %>" type="image/x-icon">
    <link rel="icon" href="<%= image_path "favicon.ico" %>" type="image/x-icon">
    <link rel="icon" href="../../assets/images/death_star_logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= yield %>



    <% if notice %>
      <div class="flash flash-success alert alert-dismissible fade show" role="alert">
        <span><%= notice %> &nbsp;</span>
        <a data-dismiss="alert" aria-label="Close">
          <i class="fas fa-times"></i>
        </a>
      </div>
    <% end %>
    <% if alert %>
      <div class="flash flash-danger alert alert-dismissible fade show" role="alert">
        <span><%= alert %> &nbsp;</span>
        <a data-dismiss="alert" aria-label="Close">
          <i class="fas fa-times"></i>
        </a>
      </div>
    <% end %>
  </body>
</html>
